.a {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    font-family: "Roboto";
    color: #323f4b;
    height: 100vh;
    width: 100vh;
    background-size: cover;
}

.b {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: "Roboto";
    font-weight: normal;
    background-color: #f6c56e;
}

.c {
    padding: 10px;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 0px;
}
